body {
    display: flex;
    justify-content: center;
}


.dado {
    font-size: 15px;
    text-align: center;
    border-style: solid;
    border-color: aqua;
}
h1 {
    text-align: center;
    border-style: solid;
    border-color: rgb(111, 0, 255);
}

/*valores calculados*/
table {
    display:flex;
    justify-content: center;
    border-collapse: collapse;
    border-style: solid;
    border-color: white;
}
td {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/*tabuleiro*/
.tabuleiro {
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 90px 90px 90px;
    width: 330px;
    padding-left: 50px;
    border-style: solid;
    border-color: black;
    border-bottom-width: 30px;
}
.tabuleiro button {
    width: 90px;
    height: 90px;
    margin: 5px;
    font-size: 30px;
    background: #f7f7f7;
}

/* botao reset */
#reiniciar {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 345px;
    height: 30px;
}